body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

nav a {
    color: #2E2F42;
    padding: 24px 0;
    display: block;
}

span {
color: #2e2f42;
}

header a:hover, header a:focus {
    color: #404bbf;
}

header a:active{
    color: #404BBF;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 1.5px 0;
    margin-right: 76px;
}

nav ul {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

address {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

address a {
    color: #434455;
}

.service {
    background-color: #2E2F42;
}

h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

}

ul {
    list-style-type: none;
}

button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #404BBF;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.ours {
    font-size: 16px;
}

.team {
    background-color: #F4F4FD;
}

.team ul {
    list-style-type: none;
}

.lst {
    background-color: #FFFFFF
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize
}

footer {
    background-color: #2E2F42;
}

footer a {
    color: #F4F4FD;

}

footer p {
    color: #F4F4FD;
}

.end {
    color: #f4f4fd;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width:1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header {
    border-bottom: 1px solid #e7e9fc;
}

.hero {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hero #first {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero #first::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul {
    display: flex;
    gap: 40px;
}

header address {
    display: flex;
    gap: 40px;
}

header address ul li a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-size: cover;
}

.service .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 48px;
    max-width: 496px;
}

.btn {
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.core-values {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.core-values ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.core-values li {
    flex-basis: calc((100% - 72px) / 4);
}

.core-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}

.core-values h3 {
    text-align: left;
    margin-bottom: 8px;
}

.core-values p {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.team {
    padding: 120px 0;
}

.team .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team li {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.workers {
    padding: 32px 0;
}

.team h2 {
    margin-bottom: 72px;
}

.team h3 {
    margin-bottom: 8px;
}

.social-icon .social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio li {
    width: calc((100% - 48px) / 3);
}

.portfolio h2 {
    margin-bottom: 72px;
}

.portfolio .brdr-clr {
border-bottom: 1px solid #E7E9FC;
border-left: 1px solid #E7E9FC;
border-right: 1px solid #E7E9FC;
padding: 32px 16px;
}

.portfolio .brdr-clr h3 {
    text-align: left;
    margin-bottom: 8px;
}

.portfolio .brdr-clr p {
    text-align: left;
}

.end-f {
    padding: 100px 0;
}

.end-f .container {
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.end-f .container .logo {
    margin-bottom: 16px;
}

.end-f p {
    max-width: 264px;
    text-align: left;
}

.end-f a {
    display: inline-block;
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
}