body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

.container {
    margin-left: calc(max(15px, (100vw - 1260px) / 2));
    margin-right: calc(max(15px, (100vw - 1260px) / 2));

}

/* header */

.hero {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hero .container .mobile-menu .all-nvgtn .active {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 24px;
}

.hero .mobile-menu .active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    gap: 10px
}

.mobile-menu {
    display: flex;
    align-items: center;
    gap: clamp(120px, 15.5vw, 332px)
}

.hero .nvgtn-lst {
    display: flex;
    gap: clamp(8px, 5.27vw, 76px);
}

.hero .nvgtn-lst a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .all-nvgtn {
    display: flex;
    gap: clamp(10px, 2.77vw, 40px);
}

.hero .all-nvgtn li a {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.hero .all-nvgtn li .navigation:hover,
.hero .all-nvgtn li .navigation:focus,
.hero .all-nvgtn li .navigation:active {
    color: #404bbf;
}

.hero .logo {
    color: #4D5AE5;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', 'sans-serif';
    text-transform: uppercase;
}

.hero .logo span {
    color: #2E2F42;
}


.hero .address ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px clamp(10px, 2.77vw, 40px);
}


.hero .address ul li a {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: clamp 16px;
}

.hero .address .address-conection .connection .cont:hover,
.hero .address .address-conection .connection .cont:focus,
.hero .address .address-conection .connection .cont:active {
    color: #404bbf;
}

.burger-btn {
    display: none;
}

.icon-list-menu {
    display: none;
    gap: 15px;
    justify-content: flex-start;
    padding-left: 0;
}

.menu-close-btn {
    display: none;
}

.menu-dropdown {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.drop {
    font-size: 14px;
    padding: 6px 6px;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px, solid #2f2f37;
    margin-bottom: 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop:hover,
.drop:focus,
.drop:active {
    background-color: #4d5ae5;
    color: #FFFFFF;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F0F0F0;
    width: 40px;
    border-radius: 4px;
    padding: 5px 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop-items {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.drop-items li a {
    display: block;
    text-decoration: none;
    color: #2E2F42;
    text-align: center;
    padding: 1px;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-items li .active {
    background-color: #404BBF;
    color: #FFFFFF;
}

.drop-items li a:hover,
.drop-items li a:focus,
.drop-items li a:active {
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: 1px, solid #2f2f37;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .burger-btn {
        display: flex;
        fill: #2f2f37;
        text-align: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 998;
        width: 100%;
        height: 100%;
        background-color: #fff;
        pointer-events: auto;
        opacity: 0;
        transform: translateX(100%);
        visibility: hidden;
        transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-open .mobile-menu .active::after {
        content: none;
    }

    .mobile-open .mobile-menu {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        display: flex;
        flex-direction: column;
        gap: 168px;
        padding: 16px;
        align-items: flex-start;
        pointer-events: auto;
    }

    .mobile-open .all-nvgtn {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 72px;
    }

    .mobile-open .all-nvgtn li a {
        font-size: 36px;
    }

    .mobile-open .address ul{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .mobile-open .address ul li a {
        font-size: 20px;
    }

    .mobile-open .icon-list-menu {
        display: flex;
    }

    .menu-close-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        z-index: 998;
        display: none;
    }

    .mobile-open .menu-close-btn {
        display: block;
    }

    .mobile-open .burger-btn {
        display: none;
    }

    .adress-icons {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .icon-link-menu {
        width: 40px;
        height: 40px;
    }
    
    .social-link-menu {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-link-menu:hover,
    .social-link-menu:focus {
        background-color: #404bbf;
    }
    
    .icon-menu {
        fill: #f4f4fd;
    }
    
    .icon-list-menu {
        display: flex;
        column-gap: 20px;
    }

    .mobile-open .menu-close-btn {
        border-radius: 100%;
        stroke-width: 1px;
        stroke: #2e2f42;
        border: #e7e9fc;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E7E9FC;
        position: fixed;
        top: 32px;
        right: 32px;
        margin-bottom: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-close-btn:hover {
        background-color: #404bbf;
    }
}

/* Our service */

main .service {
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-image.jpg");
background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(
        url("../images/hero-image.jpg") 1x,
        url("../images/hero-image@2x.jpg") 2x
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.service .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: clamp(72px, 13.1vw, 188px);
    padding-bottom: clamp(72px, 13.1vw, 188px);
}

.title {
    margin-bottom: clamp(36px, 3.33vw, 48px);
    width: clamp(216px, 34.4vw, 496px);
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.btn {
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

@media screen and (max-width: 768px) {
    .title {
        margin-bottom: clamp(36px, 72px - 8.77vw, 72px);
        font-size: clamp(36px, 7.29vw, 56px);
    }
}

/* Our cores */

.core-values .container {
    padding: clamp(96px, 8.33vw, 120px) 0;
}

.core-values ul {
    display: flex;
    justify-content: center;
    gap: 72px 24px;
    align-items: center;
    flex-wrap: wrap;
}

.core-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    height: 112px;
}

.core-values li {
    max-width: calc((100% - 72px) / 4);
    max-width: 288px;
}

.core-values h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: start;
    margin-bottom: 8px;
}

.core-values p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (max-width: 768px) {
    .core-values h3 {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
    }

    .core-values p {
        font-weight: 500;
    }
}

/* Our Team */

.team {
    padding-top: clamp(96px, 8.33vw, 120px);
    padding-bottom: clamp(96px, 8.33vw, 120px);
    background-color: #F4F4FD;
}

.team .container .read {
    text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team .team-read {
    display: flex;
    gap: clamp(64px, calc(72px - 5vw), 72px) 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 72px;
}

.team .lst {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team .ours {
    margin-bottom: 8px;
}

.workers {
    padding: 32px 16px;
}

.team h2 {
    margin-bottom: 72px;
}

.team h3 {
    margin-bottom: 8px;
}

.social-icon {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-link svg {
    fill: #f4f4fd;
}

/* Our portfolio */

.portfolio {
    padding-top: clamp(96px, 8.33vw, 120px);
    padding-bottom: clamp(96px, 8.33vw, 120px);
}

.portfolio h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(48px, calc(72px - 5vw), 72px) 24px;
}

.portfolio li {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio li:hover .apps {
    transform: translateY(0%);
}

.portfolio .image {
    position: relative;
    overflow: hidden;
}

.portfolio .apps {
    position: absolute;
    top: 0;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio h2 {
    margin-bottom: 72px;
}

.portfolio .brdr-clr {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio .brdr-clr h3 {
    text-align: left;
    margin-bottom: 8px;
}

.portfolio .brdr-clr p {
    text-align: left;
}

/* Footer */
.end-f {
    background-color: #2e2f42;
}

.end-f .container {
    display: flex;
    padding-top: clamp(96px, 7vw, 100px);
    padding-bottom: clamp(96px, 7vw, 100px);
    gap: 72px clamp(24px, 5.55vw, 80px);
    justify-content: center;
    flex-wrap: wrap;
}

.end-f .logo-p {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.end-f .logo-p .logo {
    color: #4D5AE5;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', 'sans-serif';
    text-transform: uppercase;
}

.end-f .logo-p .logo .end {
    color: #F4F4FD;
}

.end-f .description {
    color: #f4f4fd;
    max-width: clamp(264px, calc(288px - 20vw), 288px);
    text-align: left;
}

.end-f .icons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.end-f .icons .media {
    color: #FFFFFF;
    font-weight: 500;
    text-align: left;
}

.end-f .social-icon {
    display: flex;
    gap: 16px;
}

.end-f .social-link:hover,
.end-f .social-link:focus {
    background-color: #31d0aa;
}

.end-f .subscribe {
    display: flex;
    flex-direction: column;
}

.end-f .subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: left;
}

.end-f .container .footer-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 24px;
}

.end-f .container .footer-btn {
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    min-width: 165px;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.end-f .container .footer-btn:hover,
.end-f .container .footer-btn:focus {
    background-color: #404BBF;
}

.end-f .container .footer-btn svg {
    margin-left: 16px;
}

.end-f .footer-input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: #2E2F42;
    padding: 8px 16px;
    color: #FFFFFF;
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.end-f .footer-input::placeholder {
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .end-f .logo-p .logo {
        text-align: center;
    }

    .end-f .icons .media {
        text-align: center;
    }

    .end-f .container .footer-form {
        justify-content: center;
    }

    .end-f .subscribe-text {
        text-align: center;
    }
}

/* Modal */

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    overflow-y: auto;
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    max-width: 408px;
    min-width: 288px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 48px 16px 24px 16px;
}

.close-btn {
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;

}

.modal p {
    text-transform: lowercase;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.modal p::first-letter {
    text-transform: uppercase;
}

.modal form {
    flex-direction: column;
    gap: 8px;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
    fill: #ffffff;
}

.modal-labels {
    margin-bottom: 8px;
}

.modal .modal-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;

}

.modal form .input-svg {
    width: 100%;
    margin-top: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.modal form .input-svg svg {
    margin-right: 4px;
    border-radius: 4px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal form .input-svg .modal-input:focus+svg {
    fill: #4D5AE5;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-text {
    margin-bottom: 16px;
}

.modal-text textarea {
    resize: none;
    outline: none;
    border-color: #8E8F99;
    border-radius: 4px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text textarea:focus {
    border-color: #4D5AE5;
}

.checkbox-lable {
    margin-bottom: 24px;
}

.checkbox-lable input:checked+label .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.label-text {
    flex-direction: column;
    color: #8E8F99;
}

.modal-checkbox input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.modal-checkbox {
    display: flex;
    gap: 8px;
    max-width: 100%;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-checkbox .custom-checkbox {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    flex-shrink: 0;
}

.privacy-policy {
    color: #4d5ae5;
    text-decoration: underline;
}

.send {
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    background-color: #4d5ae5;
    color: #FFFFFF;
}

.send:hover,
.send:focus,
.send:active {
    background-color: #404BBF;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:disabled:hover,
button:disabled:focus,
button:disabled:active {
    background-color: #ccc;
}